/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/l/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/screen.scss */
body {
  min-width: 400px;
  background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%);
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 20px;
}

/* line 33, ../sass/screen.scss */
p {
  margin: 20px;
}

/* line 39, ../sass/screen.scss */
ul li {
  margin-top: 20px;
}

/* line 44, ../sass/screen.scss */
h1, h2, h3, h4 {
  margin: 40px;
  font-size: larger;
}
/* line 47, ../sass/screen.scss */
h1:after, h2:after, h3:after, h4:after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 10px;
  background: black;
}

/* line 57, ../sass/screen.scss */
.page-wrapper {
  width: calc(80% - 100px);
  position: relative;
  margin: 0px auto;
}

@media (min-width: 1200px) {
  /* line 64, ../sass/screen.scss */
  .page-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
/* line 69, ../sass/screen.scss */
a:hover {
  background-color: red;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 74, ../sass/screen.scss */
.page-wrapper > * {
  padding: 10px;
  display: block;
}

/* line 79, ../sass/screen.scss */
:first-letter {
  font-size: larger;
  font-weight: 800;
}

/* line 84, ../sass/screen.scss */
h1 {
  font-size: 60px;
}

/* line 88, ../sass/screen.scss */
.intro {
  background: linear-gradient(to bottom, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
  /* W3C */
}

@media (min-width: 1200px) {
  /* line 93, ../sass/screen.scss */
  #zen-supporting {
    width: 200%;
  }
}
/* line 98, ../sass/screen.scss */
.sidebar {
  min-width: 200px;
}
